[Unit]
Description=Jenkins Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/java -jar /usr/lib/jenkins/jenkins.war
Restart=on-abort

[Install]
WantedBy=multi-user.target
